<div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
        <p>Hello, World!</p>
        <% if (logged) { %>
            <a class="w3-button w3-blue">Edit</a>
        <% } %>
</div>

<!-- <div class="w3-row-padding">
    <div class="w3-col 13 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <% if (logged) { %>
                <div class="w3-display-bottomright w3-row" style="width: 100%">
                    <a class="w3-half w3-button w3-blue">Edit</a>
                    <a class="w3-half w3-button w3-red">Delete</a>
                </div>
            <% } %>
            <img src="images/team/2.jpg" alt="John" style="width:100%">
        </div>
        <h3>John Doe</h3>
        <p class="w3-opacity">CEO & Founder</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><a class="w3-button w3-light-grey w3-block" href="mailto:john@gmail.com">Contact</a></p>
    </div>
    <div class="w3-col 13 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <% if (logged) { %>
                <div class="w3-display-bottomright w3-row" style="width: 100%">
                    <a class="w3-half w3-button w3-blue">Edit</a>
                    <a class="w3-half w3-button w3-red">Delete</a>
                </div>
            <% } %>
            <img src="images/team/1.jpg" alt="Jane" style="width:100%">
        </div>
        <h3>Jane Doe</h3>
        <p class="w3-opacity">Architect</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><a class="w3-button w3-light-grey w3-block" href="mailto:jane@gmail.com">Contact</a></p>
    </div>
    <div class="w3-col 13 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <% if (logged) { %>
                <div class="w3-display-bottomright w3-row" style="width: 100%">
                    <a class="w3-half w3-button w3-blue">Edit</a>
                    <a class="w3-half w3-button w3-red">Delete</a>
                </div>
            <% } %>
            <img src="images/team/3.jpg" alt="Mike" style="width:100%">
        </div>
        <h3>Mike Ross</h3>
        <p class="w3-opacity">Architect</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><a class="w3-button w3-light-grey w3-block" href="mailto:mike@gmail.com">Contact</a></p>
    </div>
    <div class="w3-col 13 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <% if (logged) { %>
                <div class="w3-display-bottomright w3-row" style="width: 100%">
                    <a class="w3-half w3-button w3-blue">Edit</a>
                    <a class="w3-half w3-button w3-red">Delete</a>
                </div>
            <% } %>
            <img src="images/team/4.jpg" alt="Dan" style="width:100%">
        </div>
        <h3>Dan Star</h3>
        <p class="w3-opacity">Architect</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><a class="w3-button w3-light-grey w3-block" href="mailto:dan@gmail.com">Contact</a></p>
    </div>
</div> -->