<div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and leave your feedback.</p>
    <form method="POST" action="">
        <input class="w3-input w3-border" type="text" placeholder="Name" required name="name">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="email">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="subject">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="comment">
        <button class="w3-button w3-black" type="submit">SEND MESSAGE</button>
        <% if (logged) { %>
            <a class="w3-button w3-green w3-right" title="View messages">&#9776;</a>
        <% } %>
    </form>
</div>
    