<header class="w3-display-container w3-content w3-wide" style="max-width: 1500px;" id="home">
    <img src="images/feature.jpg" alt="Header" class="w3-image" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top">
        <h1 class="w3-xxlarge w3-text-white">
            <span class="w3-padding w3-black w3-opacity-min"><b><%= generalInfo.companyNameShort %></b></span>
            <span class="w3-hide-small w3-text-light-grey"><%= generalInfo.companyNameLong %></span>

            <% if (logged) { %>
            <a href="<%= root %>edit-general-info" class="w3-button w3-circle w3-large w3-blue">Edit</a>
            <% } %>
        </h1>
    </div>
</header>